.container-full{
    margin: 5% 20%;
}

h2{
    text-align: center;
    margin: 5%;
    font-size: 28px;
}

label, input{
    font-size: 18px;
}

button{
    margin: 2% 0;
    width: 180px;
    font-size: 18px;
    float: right;
}