<div class="container-full">
  <h2>Contact Details</h2>

  <div class="cont" *ngIf="contact">
    <p><strong>First Name:</strong> {{ contact[0].firstName }}</p>
    <p><strong>Last Name:</strong> {{ contact[0].lastName }}</p>
    <p><strong>Email:</strong> {{ contact[0].email }}</p>
    <p><strong>Phone Number:</strong> {{ contact[0].phoneNumber }}</p>
    <p><strong>Location:</strong> {{ contact[0].location }}</p>
  </div>
  <div class="d-flex">
    <a [routerLink]="['/home/update-contact/',contact[0].id]" class="btn btn-outline-warning">Edit</a>
    <button class="btn btn-outline-danger" (click)="deleteContact(contact[0].id)">Delete</button>
  </div>
</div>